@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  margin: 0;
  padding: 0;
}
body #loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #Navbar {
  background-color: whitesmoke;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
}
body #Navbar #links span {
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
body #Navbar h3 {
  margin: 0;
  padding: 0;
  font-family: "Patua One", cursive;
}
body #Main {
  background: skyblue;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #Main p {
  font-family: "Quicksand", sans-serif;
}
body #Main #title {
  margin: 0;
  padding: 0;
  font-family: "Arvo", serif;
  font-size: 30px;
  text-align: center;
}
body #Main #button {
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
}
body #Main #button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
body #Rules {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
body #Rules h1 {
  margin: 0;
  padding: 0;
  font-family: "Patua One", cursive;
}
body #Rules p {
  margin: 0;
  padding: 10px;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
body #Rules #startButton {
  font-family: "Patua One", cursive;
  color: #1d1d1d;
  cursor: pointer;
  font-size: 2em;
  padding: 1.5rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
  min-width: 250px;
}
body #Rules #startButton::after {
  content: ">";
  font-family: "Patua One", cursive;
  font-weight: 400;
  position: absolute;
  left: 80%;
  top: 50%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
}
body #Rules #startButton:hover {
  background: #2b2bff;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #0000ff61;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  color: #ffffff;
}
body #Rules #startButton:hover::after {
  opacity: 1;
  transition: all 0.5s;
  color: #ffffff;
}
body #Rules #backButton {
  position: fixed;
  top: 10px;
  left: 10px;
  color: grey;
}
body #Quiz {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
body #Quiz #question {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
body #Quiz #options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
body #Quiz #options .option {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 60%;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  background: #dddddd;
  cursor: pointer;
  transition: 0.2s ease-in;
}
body #Quiz #options .selected {
  background-color: #1976d2;
  color: white;
}
body #Result {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body #Result .secondary {
  color: purple;
}
body #Result .primary {
  color: #1976d2;
}
body #Result .success {
  color: green;
}
body #Result .warning {
  color: orange;
}
body #Result .error {
  color: crimson;
}
body #Result h1 {
  font-family: "Patua One", cursive;
}
body #Result #main {
  display: flex;
  align-items: center;
  justify-content: center;
}
body #Result #main .mainPoint {
  padding: 10px 30px;
  text-align: center;
}
body #Result #main .mainPoint h2, body #Result #main .mainPoint h3 {
  font-family: "Quicksand", sans-serif;
}
body #Result #main .mainPoint p {
  position: relative;
  bottom: 100px;
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body #Result #returnButton {
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
body #Result #returnButton:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  #Quiz #options .option {
    width: 90% !important;
  }

  #Result #main {
    flex-direction: column;
  }
}

/*# sourceMappingURL=App.css.map */
