@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

$titleFont:'Patua One', cursive;
$bodyFont:'Quicksand', sans-serif;

*{
    box-sizing: border-box;
}

body{
    background: whitesmoke;
    margin: 0;
    padding: 0;

    #loading{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Navbar{
        background-color: whitesmoke;
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        box-shadow: 0 2px 5px 1px rgba($color: #000000, $alpha: 0.5);
        z-index: 1;
        position: sticky;
        top: 0;
        left: 0;
        #links{
            span{
                margin-right: 10px;
                margin-left: 10px;
                cursor: pointer;
                font-family: $bodyFont;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
        h3{
            margin: 0;
            padding: 0;
            font-family: $titleFont;
        }
    }
 
    #Main{
        background: black;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        transition: 1s ease-in;
        #point{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px 20px;
            border-radius: 10px;
            background-color: rgba($color: #000000, $alpha: 0.5);
            color: white;
        }
        p{
            font-family: $bodyFont;
            z-index: 1;
        }
        #title{
            margin: 0;
            padding: 0;
            font-family: 'Arvo', serif;
            font-size: 30px;
            text-align: center;
            z-index: 1;
        }
        #button {
            margin: 10px;
            padding: 10px 30px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
            z-index: 1;
        }
        #button:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
        }
    }

    #About{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 50px;
        background-image: url(./Images/aboutImage.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        #starting{
            font-family: $bodyFont;
            margin: 0;
            margin-top: 10px;
            padding-top: 10px;
            font-weight: bold;
        }
        h2{
            font-family: $titleFont;
        }
        .content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: Arial, Helvetica, sans-serif;
            width: 60%;
            line-height: 1.5;
            text-align: center;
            padding-bottom: 20px;
            details{cursor: pointer;}
            details[open] summary ~ *{
                cursor: pointer;
                transition: .2s ease-in;
                animation:sweep .5s ease-in-out;
            }
            details summary::before{
                content:"Show Articles"
            }
            details[open] summary::before{
                content:"Hide Articles"
            }
            @keyframes sweep {
                0% {opacity: 0; margin-left: -10px}
                100% {opacity: 1; margin-left: 0px}
            }
            li{
                text-align: left;
                margin-bottom: 20px;
            }
            table,th,td{
                border-collapse: collapse;
                padding: 10px;
                width: 100%;
            }
            th,td{
                width: 25%;
                border: 2px solid black;
            }
            thead{
                th{
                    border-top: none;
                    border-left: none;
                }
                :last-child{
                    border-right: none;
                }
            }
            tbody{
                th{
                    border-left: none;
                    border-bottom: none;
                }
                td{
                    border-right: none;
                    border-bottom: none;
                }
            }
        }
    }



















/* ------- QUIZ COMPONENTS STYLES --------*/

    #Rules{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        h1{
            margin: 0;
            padding: 0;
            font-family: $titleFont;
        }
        p{
            margin: 0;
            padding: 10px;
            line-height: 1.5;
            font-family: $bodyFont;
            font-weight: 600;
        }
        #startButton {
            font-family: $titleFont;
            color: #1d1d1d;
            cursor: pointer;
            font-size: 2em;
            padding: 1.5rem;
            border: 0;
            transition: all 0.5s;
            border-radius: 10px;
            width: auto;
            position: relative;
            min-width: 250px;
        
            &::after {
                content: ">";
                font-family: $titleFont;
                font-weight: 400;
                position: absolute;
                left: 80%;
                top: 50%;
                right: 0;
                bottom: 0;
                opacity: 0;
                transform: translate(-50%, -50%);
            }
            &:hover {
                background: #2b2bff;
                transition: all 0.5s;
                border-radius: 10px;
                box-shadow: 0px 6px 15px #0000ff61;
                padding: 1.5rem 3rem 1.5rem 1.5rem;
                color: #ffffff;
                &::after {
                    opacity: 1;
                    transition: all 0.5s;
                    color: #ffffff;
        
                }
            }
        
        }

        #backButton{
            position: fixed;
            top: 10px;
            left: 10px;
            color: grey;
        }

    }

    #Quiz{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        #progressBar{
            width: 100%;
            position: fixed;
            top: 0;
        }
        #question{
            font-family: 'Comfortaa', cursive;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
        }
        #options{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            .option{
                margin-top: 5px;
                margin-bottom: 5px;
                width: 60%;
                padding:10px;
                text-transform: uppercase;
                font-family: $bodyFont;
                font-weight: 700;
                text-align: center;
                border-radius:5px ;
                background:rgb(221, 221, 221);
                cursor: pointer;
                transition: .2s ease-in;
            }
            .selected{
                background-color: #1976d2;
                color: white;
            }
        }
    }


    #Result{
        padding: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .secondary{color: purple;}
        .primary{color: #1976d2;}
        .success{color: green;}
        .warning{color: orange;}
        .error{color: crimson;}

        h1{
            font-family: $titleFont;
        }
        #main{
            display: flex;
            align-items: center;
            justify-content: center;
            .mainPoint{
                padding: 10px 30px;
                text-align: center;
                h2,h3{
                    font-family:$bodyFont
                }
                p{
                    position: relative;
                    bottom: 100px;
                    font-size: 30px;
                    margin: 0;
                    padding: 0;
                    font-family: 'Open Sans', sans-serif;
                }
            }
        }
        #returnButton {
            background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
            margin: 10px;
            padding: 10px 30px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
        }

        #returnButton:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
        }
        
    }

}

@media only screen and (max-width: 600px) {

    #Main{
        #image{
            width: 200vw !important;
        }
    }

    #Quiz{
        #options{
            .option{
                width: 90% !important;
            }
        }
    }

    #Result{
        #main{
            flex-direction: column;
        }
    }

    #About{
        .content{
            width: 100% !important;
        }
    }

}
