@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$titleFont:'Patua One', cursive;
$bodyFont:'Quicksand', sans-serif;

*{
    box-sizing: border-box;
}

body{
    background: whitesmoke;
    margin: 0;
    padding: 0;

    #loading{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Navbar{
        background-color: whitesmoke;
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        box-shadow: 0 2px 5px 1px rgba($color: #000000, $alpha: 0.5);
        z-index: 1;
        position: sticky;
        top: 0;
        left: 0;
        #links{
            span{
                margin-right: 10px;
                margin-left: 10px;
                cursor: pointer;
                font-family: $bodyFont;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
        h3{
            margin: 0;
            padding: 0;
            font-family: $titleFont;
        }
    }
 
    #Main{
        background: black;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        transition: 1s ease-in;
        #point{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px 20px;
            border-radius: 10px;
            background-color: rgba($color: #000000, $alpha: 0.5);
            color: white;
        }
        p{
            font-family: $bodyFont;
            z-index: 1;
        }
        #title{
            margin: 0;
            padding: 0;
            font-family: 'Arvo', serif;
            font-size: 30px;
            text-align: center;
            z-index: 1;
        }
        #button {
            margin: 10px;
            padding: 10px 30px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
            z-index: 1;
        }
        #button:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
        }
    }

    #About{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 50px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='1000' preserveAspectRatio='none' viewBox='0 0 2000 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1204%26quot%3b)' fill='none'%3e%3crect width='2000' height='1000' x='0' y='0' fill='rgba(199%2c 201%2c 203%2c 1)'%3e%3c/rect%3e%3cpath d='M2000 0L1239.26 0L2000 110.95z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1239.26 0L2000 110.95L2000 256.7L955.31 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M955.31 0L2000 256.7L2000 568.54L410.64 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M410.6399999999999 0L2000 568.54L2000 647.7099999999999L193.00999999999988 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1000L574.33 1000L0 742.4z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 742.4L574.33 1000L1111.1 1000L0 531.9399999999999z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 531.9399999999999L1111.1 1000L1540.1 1000L0 397.3299999999999z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 397.3299999999999L1540.1 1000L1802.46 1000L0 156.06999999999994z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1204'%3e%3crect width='2000' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
        #starting{
            font-family: $bodyFont;
            margin: 0;
            margin-top: 10px;
            padding-top: 10px;
            font-weight: bold;
        }
        h2{
            font-family: $titleFont;
        }
        .content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: Arial, Helvetica, sans-serif;
            width: 60%;
            line-height: 1.5;
            text-align: center;
            padding-bottom: 20px;
            details{cursor: pointer;}
            details[open] summary ~ *{
                cursor: pointer;
                transition: .2s ease-in;
                animation:sweep .5s ease-in-out;
            }
            details summary::before{
                content:"Show Articles"
            }
            details[open] summary::before{
                content:"Hide Articles"
            }
            @keyframes sweep {
                0% {opacity: 0; margin-left: -10px}
                100% {opacity: 1; margin-left: 0px}
            }
            li{
                text-align: left;
                margin-bottom: 20px;
            }
            table,th,td{
                border-collapse: collapse;
                padding: 10px;
                width: 100%;
            }
            th,td{
                width: 25%;
                border: 2px solid black;
            }
            thead{
                th{
                    border-top: none;
                    border-left: none;
                }
                :last-child{
                    border-right: none;
                }
            }
            tbody{
                th{
                    border-left: none;
                    border-bottom: none;
                }
                td{
                    border-right: none;
                    border-bottom: none;
                }
            }
        }
    }


    #Contact{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='1000' preserveAspectRatio='none' viewBox='0 0 2000 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1125%26quot%3b)' fill='none'%3e%3crect width='2000' height='1000' x='0' y='0' fill='rgba(166%2c 166%2c 167%2c 1)'%3e%3c/rect%3e%3cpath d='M -407.83128926938747%2c377 C -274.43%2c427.2 -7.63%2c614.4 259.16871073061253%2c628 C 525.97%2c641.6 659.37%2c399 926.1687107306125%2c445 C 1192.97%2c491 1326.37%2c899.6 1593.1687107306125%2c858 C 1859.97%2c816.4 2178.8%2c280.2 2260.1687107306125%2c237 C 2341.53%2c193.8 2052.03%2c561 2000%2c642' stroke='rgba(79%2c 80%2c 83%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -339.84767020181306%2c705 C -206.45%2c653.4 60.35%2c431.4 327.15232979818694%2c447 C 593.95%2c462.6 727.35%2c841.2 994.1523297981869%2c783 C 1260.95%2c724.8 1394.35%2c181.2 1661.1523297981869%2c156 C 1927.95%2c130.8 2260.38%2c615.8 2328.152329798187%2c657 C 2395.92%2c698.2 2065.63%2c421 2000%2c362' stroke='rgba(79%2c 80%2c 83%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -876.5324377927699%2c545 C -743.13%2c458.2 -476.33%2c103.8 -209.53243779276985%2c111 C 57.27%2c118.2 190.67%2c526.8 457.4675622072301%2c581 C 724.27%2c635.2 857.67%2c324.4 1124.4675622072302%2c382 C 1391.27%2c439.6 1616.36%2c891.4 1791.4675622072302%2c869 C 1966.57%2c846.6 1958.29%2c389.8 2000%2c270' stroke='rgba(79%2c 80%2c 83%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -776.3200575950962%2c332 C -642.92%2c399.2 -376.12%2c682.8 -109.32005759509619%2c668 C 157.48%2c653.2 290.88%2c269.2 557.6799424049038%2c258 C 824.48%2c246.8 957.88%2c569.8 1224.6799424049038%2c612 C 1491.48%2c654.2 1736.62%2c481.4 1891.6799424049038%2c469 C 2046.74%2c456.6 1978.34%2c533.8 2000%2c550' stroke='rgba(79%2c 80%2c 83%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1125'%3e%3crect width='2000' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 90vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        #email{
            color: white;
            display: flex;
            flex-direction: column;
            width: 60%;
            h1{
                margin: 0;
                margin-top: 20px;
                padding: 0;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                text-align: center;
            }
            p{
                font-family: $bodyFont;
                text-align: center;
            }
            form{
                display: flex;
                flex-direction: column;
                .input{
                    background: white;
                    margin: 10px 0;
                    border-radius: 5px;
                }
                input[type=submit]{
                    padding: 10px;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: #1976d2;
                    color: white;
                    box-shadow: 0 5px #0f5296;
                }
                input[type=submit]:active{
                    box-shadow: 0 2.5px #0f5296;
                    transform: translateY(2.5px);
                }
            }
        }
    }



















/* ------- QUIZ COMPONENTS STYLES --------*/

    #Rules{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        h1{
            margin: 0;
            padding: 0;
            font-family: $titleFont;
        }
        p{
            margin: 0;
            padding: 10px;
            line-height: 1.5;
            font-family: $bodyFont;
            font-weight: 600;
        }
        #startButton {
            font-family: $titleFont;
            color: #1d1d1d;
            cursor: pointer;
            font-size: 2em;
            padding: 1.5rem;
            border: 0;
            transition: all 0.5s;
            border-radius: 10px;
            width: auto;
            position: relative;
            min-width: 250px;
        
            &::after {
                content: ">";
                font-family: $titleFont;
                font-weight: 400;
                position: absolute;
                left: 80%;
                top: 50%;
                right: 0;
                bottom: 0;
                opacity: 0;
                transform: translate(-50%, -50%);
            }
            &:hover {
                background: #2b2bff;
                transition: all 0.5s;
                border-radius: 10px;
                box-shadow: 0px 6px 15px #0000ff61;
                padding: 1.5rem 3rem 1.5rem 1.5rem;
                color: #ffffff;
                &::after {
                    opacity: 1;
                    transition: all 0.5s;
                    color: #ffffff;
        
                }
            }
        
        }

        #backButton{
            position: fixed;
            top: 10px;
            left: 10px;
            color: grey;
        }

    }

    #Quiz{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        #progressBar{
            width: 100%;
            position: fixed;
            top: 0;
            height: 10px;
        }
        #question{
            font-family: 'Comfortaa', cursive;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
        }
        #options{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            .option{
                margin-top: 5px;
                margin-bottom: 5px;
                width: 60%;
                padding:10px;
                text-transform: uppercase;
                font-family: $bodyFont;
                font-weight: 700;
                text-align: center;
                border-radius:5px ;
                background:rgb(221, 221, 221);
                cursor: pointer;
                transition: .2s ease-in;
            }
            .selected{
                background-color: #1976d2;
                color: white;
            }
        }
    }


    #Result{
        padding: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .secondary{color: purple;}
        .primary{color: #1976d2;}
        .success{color: green;}
        .warning{color: orange;}
        .error{color: crimson;}

        h1{
            font-family: $titleFont;
        }
        #main{
            display: flex;
            align-items: center;
            justify-content: center;
            .mainPoint{
                padding: 10px 30px;
                text-align: center;
                h2,h3{
                    font-family:$bodyFont
                }
                p{
                    position: relative;
                    bottom: 100px;
                    font-size: 30px;
                    margin: 0;
                    padding: 0;
                    font-family: 'Open Sans', sans-serif;
                }
            }
        }
        #advice{
            display: flex;
            flex-direction: column;
            width: 60%;
            .advice{
                border: 1px solid black;
                padding: 10px;
                flex-direction: column;
                h2{
                    font-family: $titleFont;
                    text-align: center;
                }
                #body{
                    display: flex;
                    img{
                        width: 150px;
                        height: 150px;
                        margin: 10px;
                    }
                    p{
                        border: 1px solid black;
                    }
                }
            }
        }
        #returnButton {
            background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
            margin: 10px;
            padding: 10px 30px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
        }

        #returnButton:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
        }
        
    }

}

@media only screen and (max-width: 800px) {

    #Main{
        #image{
            width: 200vw !important;
        }
    }

    #Quiz{
        #options{
            .option{
                width: 90% !important;
            }
        }
    }

    #Result{
        #main{
            flex-direction: column;
        }
        #advice{
            width: 90% !important;
            .advice{
                #body{
                    flex-direction: column;
                    align-items: center;
                    p{
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }

    #About{
        .content{
            width: 100% !important;
        }
    }

    #Contact{
        #email{
            width: 90% !important;
        }
    }

}
